/* ====== CONTAINER ====== */
.blogs__container {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 4rem;
}

.blog__right {
    padding: 2rem;
    background: var(--color-bg1);
    border-radius: 1rem;
}

.blog__data h3 {
    font-size: 2rem;
}

.blog__data {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.2rem;
}

.author {
    font-weight: 600;
    margin: 0;
}

.release__date {
    font-style: italic;
}

.blog__image img {
    border-radius: 1rem;
}

.image__link {
    text-decoration: underline;
}

.blog__article p {
    margin: 1rem 0;
}


